.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.button button {
  cursor: pointer;
  font-size: 30px;
  margin: 10px;
  text-align: center;
  width: 200px;
  height: 200px;
}

.button button:hover {
  background-color: green;
  color: white;
}