@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(29, 53, 87);
  color:  rgb(253, 255, 252);
  font-family: 'Bungee Shade', cursive;
  padding: 10px;
  width: 100%;
}

.Header a {
  color: rgb(253, 255, 252);
  font-size: 25px;
  padding: 10px;
}
