.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.Home p {
  display: flex;
  justify-content: center;
}

.Home img {
  display: inline-block;
  width: 100px;
  height: 100px;
}